<p>
This website will allow you to quickly search through Pitchfork review data and filter by a number of criteria. Pitchfork used to have this feature on their website but it was removed and I was bummed, so I built this tool for myself so I could quickly sort through old reviews, hopefully it can save you some time too!
</p>

<p>
    Tools used in this application:
    <ul>
        <li><a href="http://flask.pocoo.org/">Flask</a> Python based web frame</li>
        <li><a href="http://www.makotemplates.org/">Mako</a> Python templating engine</li>
        <li><a href="http://pythonhosted.org/Flask-Mako/">Flask-Mako</a> Flask extension enabling Mako as the templating engine (I like it better than Jinja)</li>
        <li><a href="http://wtforms.simplecodes.com/docs/1.0.4/">WTForms</a> Python library for handling webforms</li>
        <li><a href="http://flask.pocoo.org/docs/patterns/wtforms/">Flask-WTForms</a> Flask extension for WTForms</li>
        <li><a href="http://tablesorter.com/docs/">Tablesorter</a> Javascript library for the interactive table sorting (go figure)</li>
        <li><a href="http://twitter.github.io/bootstrap/">Twitter Bootstrap</a> Website layout and styles</li>
    </ul>
</p>